/*
* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.ttf");
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
  font-family: "Roboto-Regular", sans-serif;
  height: 100vh;
  background-color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-inline: 5%;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

.credit-card-wrapper {
  width: 500px;
}

.credit-card-img-wrapper {
  max-width: 350px;
  text-align: center;
  position: relative;
  background-color: #918244;
  border-radius: 5px;
  margin: 20px auto;
}

.chip {
  position: absolute;
  left: 10px;
  top: 10px;
}

.visa-logo {
  position: absolute;
  right: 16px;
  top: 16px;
}

.card-number-placeholder {
  text-align: left;
  padding-left: 16px;
  padding-top: 85px;
  padding-bottom: 40px;
  color: #fff;
  font-size: 1rem;
  font-family: "Roboto-Regular";
  letter-spacing: 0.5px;
}

.data-wrapper {
  display: flex;
  justify-content: space-between;
  padding-inline: 16px;
  padding-bottom: 16px;
}

.card-holder-placeholder {
  text-align: start;
  font-family: "Roboto-Regular";
}

.card-holder-headline {
  color: #d3d3d3;
  font-size: 0.75rem;
  line-height: 14px;
  padding-bottom: 4px;
}

.card-holder-name {
  color: #fff;
  word-break: break-all;
  padding-right: 30px;
}

.expires-placeholder {
  text-align: right;
  font-family: "Roboto-Regular";
}

.expires-headline {
  color: #d3d3d3;
  font-size: 0.75rem;
  line-height: 14px;
  padding-bottom: 4px;
}

.expires-date-number {
  color: #fff;
}

.form {
  margin-top: -70px;
  padding: 80px 30px 30px;
  background-color: white;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 6px -6px 4px black, 12px -12px 4px hsl(48, 76%, 42%);
}

.form input {
  padding-block: 5px;
}

.card-number-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 3px;
}

.card-number-wrapper label span {
  font-size: 10px;
  margin-left: 5px;
}

.card-number-wrapper input {
  padding-left: 5px;
}

.card-holder-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.card-holder-wrapper input {
  padding-left: 5px;
}

.card-holder-wrapper label span {
  font-size: 10px;
  margin-left: 5px;
}

.seperate-data-block {
  display: flex;
  justify-content: space-between;
}

.expiration-date-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.expiration-date-wrapper input {
  width: 200px;
  padding-left: 5px;
}

.cvv-number-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.cvv-number-wrapper label {
  align-self: flex-end;
}

.cvv-number-wrapper label span {
  font-size: 10px;
  margin-right: 5px;
}

.submit-btn-wrapper {
  text-align: center;
  margin-top: 20px;
}

.submit-btn-wrapper .submit-btn {
  padding: 12px 120px;
  background-color: #918244;
  color: #fff;
  border-radius: 3px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.submit-btn:hover {
  transform: translateY(-3px);
  background-color: rgba(145, 130, 68, 0.9);
}

.submit-btn:active {
  content: "";
  position: relative;
  transform: translateY(1px);
  box-shadow: 2px 2px 5px black;
}

.output {
  color: rgba(211, 211, 211, 0.8);
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  letter-spacing: 0.4px;
}
